body {
  background-color: #f700ff
}

body h3 {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  border-radius: 6px;
  background-color: aliceblue;
  font-size: xx-large;
}

body p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: antiquewhite;
  border-radius: 6px;
  font-size: larger;
}