body {
  background-color: #1acbcb
}

.wholePage h3 {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  border-radius: 6px;
  background-color: aliceblue;
  font-size: xx-large;
}

.wholePage p, .area2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: antiquewhite;
  border-radius: 6px;
  font-size: 14pt;
}

.wholePage hr {
  margin: 1cm 0;
}

a {
  cursor: pointer;
}

.area1 {
  display: flex;
  justify-content: center;
  border: solid 1px;
  border-radius: 6px;
  p {
    margin: 0 10px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  align-items: center;
  a {
    margin: 20px 10px;
  }
}