body {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 50%;
  height: auto;
  margin: 0 0 10vh 0;
  border-radius: 10px;
}

p {
  font-size: 14px;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 20px;
}