.clock {
  background: aquamarine left top no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.subject {
  /* display: none; */
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(0.75rem, 4.5vw, 7.5rem);
  margin: 0;
  overflow: hidden;
  text-overflow: clip;
}

.time {
  font-family: 'Consolas';
  font-size: clamp(3rem, 18vw, 30rem);
  margin: 0;
}

.subject, .time {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  margin: 10px 0;
  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
  padding: 0 20px;
}